<h1>Listing comments</h1>

<% @comments.each do |comment| %>
  <%= render :partial => 'shared/comment', :locals => { :comment => comment} -%>
<% end %>

<br />

<%= link_to 'New Comment', new_comment_path %>
