<p id="notice"><%= notice %></p>

<h3>Project Website for:</h3>
<h1>Topic Modeling from User Feedback on Facebook Brand Pages</h1>
<h3>Jon Snyder</h3>

<p>To help provide a gold standard dataset please <%= link_to 'login to Facebook', @oauth.url_for_oauth_code -%>.</p>
<p>This dataset will be used to gauge the performance of the automated Topic Modeling algorithms</p>


<%= link_to "Access Tokens", access_tokens_path %>
