<p id="notice"><%= notice %></p>

<h2>Jon Snyder's Information Retrieval Project Website</h2>
<p>"Topic Modeling from User Feedback on Facebook Brand Pages"</p>

<h2>Project Description</h2>

<p>This project seeks to extract some useful information available in comments and posts on Facebook using automated methods.  Manual analysis becomes expensive to scale to the size of the available information.  In order to evaluate the effectiveness of automated methods, a hand tagged sample is needed.  This website was created to facilitate the generation of a hand tagged database.</p>

<p>Here is the <a href="/FacebookTopicModeling.pdf">paper</a> I wrote with some preliminary results from the automated tagging</p>

<% if @user.nil? -%>
  <p>To help provide a hand tagged dataset please <%= link_to 'login to Facebook', @oauth.url_for_oauth_code -%>.</p>
<% else -%>
  <p><%= link_to 'Get started by reading the instructions.', home_instructions_path -%>
<% end -%>
<p><b>Thank you for helping with my project.</b></p>

