<h2>Instructions</h2>

<p>For this experiment, pretend you work for Kohl's and are on their Social Engagement team.  Your group would like to create a report detailing the 10-20 topics that people are talking about.  This report will help your group know what kinds of messages to post, but also to help change store policies, product lines, website features, etc.</p>

<p>In order to understand what topics people are talking about, you will need to tag posts with topics.  For example, some tags could be "Problem Returning Something", "Credit Card Question", "Coupons".</p>
<ol>
  <li>It is okay for a post to have multiple tags.  Some posts talk about multiple issues.</li>
  <li>Do not create a "miscellaneous" tag.  If a post doesn't fit any tag, you can leave the tag field blank.</li>
  <li>The actual name of a tag is not important.</li>
</ol>

<h2>Help</h2>

<p>To tag a post with a topic, simply type a name in the textbox next to the post.<p>
<p>Keyboard short cuts:
<ul>
  <li>Comma - Enter the text as a tag.</li>
  <li>Enter - Choose the selected item from the drop down.</li>
  <li>Tab - Choose the selected item from the drop down, or move to the next text box.</li>
</ul>
</p>
<p>The tagging page also includes a list of all the tags that have been created.  You can rename and delete tags with this table.  Rename will change the name of a tag everywhere that it is used.  You can also use rename to combine multiple tags into one tag.  Delete will remove a tag from every post where it is tagged.</p>
<p>There are some filters that can be applied to search for posts in the dataset.  This can be useful to find all the posts that talk about something and tag them at once.</p>

<p>You can contact me with any questions. <b>Thank you for your help!</b></p>

<p><%= link_to "Start Tagging!", datasets_path -%></p>


