<h1>Listing stat_values</h1>

<table>
  <tr>
    <th>Mallet Run</th>
    <th>Perplexity</th>
    <th>Tagging Strategy</th>
    <th>Cosine Simularity</th>
    <th>Compared With</th>
    <th>Kappa</th>
    <th>Precision</th>
    <th>Recall</th>
  </tr>

<% @grid.rows do |row| %>
  <tr>
    <% row.each do |cell| %>
      <% if cell.kind_of?( Array) -%>
        <td rowspan="<%= cell.last -%>"><%= cell.first -%></td>
      <% else -%>
        <td><%= cell %></td>
      <% end -%>
    <% end -%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stat value', new_stat_value_path %>
