<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <%= render :partial => 'shared/post', :locals => { :post => post } -%>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>

<% content_for :head do %>
  <script type="text/javascript">
    jQuery( function() {
      wt.posts.on_ready( {"foo": 1, "bar": 2});
    });
  </script>
<% end %>
