// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
    clear: both;
    margin: 8px 0px;
    overflow: hidden;
}

.post > img {
    float: left;
    padding-right: 5px;
    width: 50px;
    height: 50px;
}

.post > span {
    font-weight: bold;
}

.post > p {
    margin: 0px 430px 0px 55px;
}

.post > div {
    margin: 0px 0px 0px 55px;
    padding-top: 8px;
}

.post .tagedit {
    width: 420px;
    float: right;
}